.container{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    background-color:rgb(109, 6, 6);
   

  }
  
.card {
    background:rgb(31, 13, 13);
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
     width: 400px;
    flex-shrink: 1;
    margin-bottom: 3em;
    justify-content: space-evenly;

}



.flip-card {
    background-color: transparent;
      width: 300px;
      height: 200px;
      border: 1px solid #f1f1f1;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: rgb(7, 122, 7);
        color: rgb(17, 13, 13);
        transform: rotateY(180deg);
      }
      



@media screen and (min-width: 70em) {

    .cards {

        margin-top: inherit;

    }

    .card {

        flex: 0 1 calc(40% - 1.5em);

        margin-bottom: 2em;
    }
}